<div class="trm-contacts-editor">
  <form #form="ngForm" (ngSubmit)="save(contact)">
    <mat-card>
      <mat-card-title-group class="fullBleed editing">
        <img mat-card-md-image [src]="contact?.image || ''">
        <mat-card-title>{{contact?.name}}</mat-card-title>
        <mat-card-subtitle>{{contact?.email || 'No email address'}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <div fxLayout="column">
          <mat-form-field fxFlex [color]="name.errors ? 'warn' : 'primary'">
            <input matInput placeholder="Name" name="name" #name="ngModel" [(ngModel)]="contact.name" required minlength="3">
            <mat-hint align="end" *ngIf="!name.valid && !name.pristine">
              <ng-container *ngIf="name.errors?.required">This field is required</ng-container>
              <ng-container *ngIf="name.errors?.minlength">A name must have at least {{name.errors.minlength.requiredLength}} characters</ng-container>
            </mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex [color]="email.errors ? 'warn' : 'primary'">
            <input matInput placeholder="Email" name="email" #email="ngModel" [(ngModel)]="contact.email" trmValidateEmail>
            <mat-hint align="end" *ngIf="!email.valid && !email.pristine && !email.untouched">
              <ng-container *ngIf="email.errors?.validateEmail">Please enter a valid email address</ng-container>
            </mat-hint>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Phone" name="phone" [(ngModel)]="contact.phone">
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Website" name="website" [(ngModel)]="contact.website">
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Birthday" name="birthday" [(ngModel)]="contact.birthday" type="date">
          </mat-form-field>
          <label class="gender-label">Gender:</label>
          <mat-radio-group name="gender" [(ngModel)]="contact.gender">
            <mat-radio-button *ngFor="let variant of gender" [value]="variant">
              {{variant}}
            </mat-radio-button>
          </mat-radio-group>
          <fieldset fxLayout="column">
            <legend>Address</legend>
            <mat-form-field fxFlex>
              <input matInput placeholder="Street" name="street" [(ngModel)]="contact.address.street">
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput placeholder="Zip" name="zip" [(ngModel)]="contact.address.zip">
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput placeholder="City" name="city" [(ngModel)]="contact.address.city">
            </mat-form-field>
            <mat-select placeholder="Country" name="country" [(ngModel)]="contact.address.country">
              <mat-option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</mat-option>
            </mat-select>
          </fieldset>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout fxLayoutAlign="center center">
        <button mat-button type="button" (click)="save(contact)" title="Save contact">Save</button>
        <button mat-button type="button" (click)="cancel(contact)" title="Cancel editing">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
